/* resters */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  font-weight: 500;
  font-size: 1.8rem;
  letter-spacing: 0.1rem;
  text-decoration: inherit;
  color: blueviolet;
}

li {
  list-style: none;
}
